.editor{
    padding: 10px;
}

pre{
    line-height: 1.1;
    font-size: .7em;
}

/******************* DRAGULA *******************/
.ex-over {
    background: rgba(0,0,0,0.1);
    padding: 10px;
  }

/******************* BOOTSTRAP *******************/
.list-group{
   /* max-width: 25%;*/
}

/******************* GROUPS *******************/
.module-group{

}

.entity-group{

}

.field-group{

}

.property-group{

}

/******************* ITEMS *******************/
.module-item{
    padding: .6em .5em;
    font-size: 1.3em;
}
.entity-item{
    padding: .5em 1em;
}
.field-item{
    padding: .7em 1em;
}
.property-item{
    padding: .2em 1em;
} 

.module-item.active,
.entity-item.active,
.field-item.active,
.property-item.active{
    /*pointer-events: none;*/
    background: #616668;
}

.module-item,
.entity-item,
.field-item,
.property-item{
    user-select: none; 
    cursor: pointer;
}

 

/******************* BADGES *******************/
.badge-right{
    float: right;
    padding: .4em;
}