<section class="editor">
  <header>
    <h2 (click)="isCollapsed = !isCollapsed">Static no html |{{application.name}}|</h2>

    <div [collapse]="isCollapsed" class="card card-block card-header">


      <div class="row">
        <div class="col form-group row">
          <label for="staticEmail" class="col-sm-4 col-form-label">Backend</label>
          <div class="col-sm-8">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col form-group row">
          <label for="inputPassword" class="col-sm-4 col-form-label">Password</label>
          <div class="col-sm-8">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col form-group row">
          <label for="staticEmail" class="col-sm-4 col-form-label">Email</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="staticEmail" value="email@example.com">
          </div>
        </div>
        <div class="col form-group row">
          <label for="inputPassword" class="col-sm-4 col-form-label">Password</label>
          <div class="col-sm-8">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>
        </div>
      </div>
    </div>

  </header>

  <main>

    <tabset>
      <tab heading="Core" customClass="tab-dark">

        <div class="row">
          <app-list-draggable #bag1 [selected]="selected" selectedProp="module" title="Modules" bag="bag1" [listItems]="application.modules">
            <app-list-component bag="bag1" [listItems]="copyModules"></app-list-component>
          </app-list-draggable>

          <ng-container *ngIf="application.modules[selected.module].entities">
            <app-list-draggable #bag2 [selected]="selected" selectedProp="entity" title="Entities" bag="bag2" [listItems]="application.modules[selected.module].entities">
              <!-- <app-list-component bag="bag2" [listItems]="copyModules"></app-list-component> -->
            </app-list-draggable>
          </ng-container>

          <ng-container *ngIf="application.modules[selected.module].entities">
            <ng-container *ngIf="application.modules[selected.module].entities[selected.entity]">
              <ng-container *ngIf="application.modules[selected.module].entities[selected.entity].fields">

                <app-list-draggable #bag3 [selected]="selected" selectedProp="field" title="Fields" bag="bag3" [listItems]="application.modules[selected.module].entities[selected.entity].fields">
                  <!-- <app-list-component bag="bag3" [listItems]="copyModules"></app-list-component> -->
                </app-list-draggable>

              </ng-container>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="application.modules[selected.module].entities.length">
            <ng-container *ngIf="application.modules[selected.module].entities[selected.entity].fields.length">
              <ng-container *ngIf="application.modules[selected.module].entities[selected.entity].fields[selected.field].properties">

                <app-list-draggable #bag4 [selected]="selected" selectedProp="property" title="Properties" bag="bag4" [listItems]="application.modules[selected.module].entities[selected.entity].fields[selected.field].properties">
                  <!-- <app-list-component bag="bag4" [listItems]="copyModules"></app-list-component> -->
                </app-list-draggable>
              </ng-container>
            </ng-container>
          </ng-container>

        </div>


      </tab>
      <tab heading="Form" customClass="tab-dark">Static content 1</tab>
      <tab heading="Screen" customClass="tab-dark">Static content 2</tab>
      <tab heading="Wizard" customClass="tab-dark">Static content 2</tab>
      <tab heading="Menu" customClass="tab-dark">Static content 2</tab>
      <tab heading="Theme" customClass="tab-dark">Static content 2</tab>

      <tab customClass="tab-dark">
        <ng-template tabHeading>
          Alert!
        </ng-template>
        I've got an HTML heading, and a select callback. Pretty cool!
      </tab>

    </tabset>


  </main>

  <app-aside [ngClass]="{'active': true}" *ngIf="applicationService._editInstance"></app-aside>

 
</section>


<!--
<div class="editor">

  
</div>



  <ng-template #popTemplate1>Password
      <accordion [closeOthers]="true">
          <accordion-group heading="Header" class="card">
            This content is straight in the template.
          </accordion-group>
          <accordion-group heading="Content 1">
            <p>Content 1</p>
          </accordion-group>
          <accordion-group heading="Content 2">
            <p>Content 2</p>
          </accordion-group>
        </accordion>
  </ng-template>

<ng-template #popTemplate>
    <ul class=" list-group module-group" [dragula]='"bag1"' [dragulaModel]='copyModules'>
        <li *ngFor='let module of copyModules' class="copyable list-group-item module-item">
          <i class="fa fa-archive" aria-hidden="true"></i> {{module.name}}
        </li>
    </ul>
</ng-template>








<div class="row">

  <ul class="col list-group module-group">
    <li *ngFor='let module of modules' class="list-group-item list-group-item-action list-group-item-dark module-item">{{module.name}}</li>
  </ul>

  <ul class="col list-group entity-group">
    <li *ngFor='let entity of modules[selected.module].entities' class="list-group-item list-group-item-action list-group-item-success entity-item">{{entity.name}}</li>
  </ul>

  <ul class="col list-group field-group">
    <li *ngFor='let field of modules[selected.module].entities[selected.entity].fields' class="list-group-item list-group-item-action field-item">{{field.name}} </li>
  </ul>

</div>



-->

  <pre>
    {{application | json}}
  </pre>