
<div class="container bg-faded padding-tb rounded ">
  <form [formGroup]="form">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter user name"> 
    </div>  
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter user email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Enter user password">
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm password</label>
      <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm the password">
      
    </div>  
    <div class="form-group">
      <label for="rg">RG</label>
      <input type="number" class="form-control" id="rg" placeholder="Enter user rg number">
    </div>
    <div class="form-group">
      <label for="birth">Birth date</label>
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
              id="birth" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-addon" (click)="d.toggle()" >
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    
  </form>
</div>