.wrapper{
    cursor: pointer;
}
.block{
    margin: 1rem;
    border-radius: 5px;
    padding: .5rem;
    background-color: #FFFBF7;
    box-shadow: 2px 2px 5px #444444;
}
.shadow-block{
    
}
.inner-block{
    
}
.bordered{
    margin: 1rem 0;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #00356E;
}

.bg-blue{
    background-color: #007bff;
}
.ex-over{
    background-color:green !important;
}