<div class="col col-item">
  <h3 [innerHtml]=title></h3>

  <ul class="list-group" [dragula]="bag" [dragulaModel]="listItems">
    <li *ngFor='let item of listItems; let i = index' class="list-group-item list-group-item-action {{selectedProp}}-item" [ngClass]="{'selected':isSelected(item), 'active': selected[selectedProp] == i, 'lock-item': item.lock}"
      (click)="selectItem(i, item)">
      <i class="fa" *ngIf="selectedProp != 'property'" aria-hidden="true" [ngClass]="{'fa-archive': selectedProp == 'module', 'fa-folder': selectedProp == 'entity', 'fa-sticky-note': selectedProp == 'field' }"></i>      {{item.name}}


      <span *ngIf="selectedProp == 'property' || selectedProp == 'field'" class="badge badge-right" [ngClass]="'type-' + item.type">
        <i class="fa" aria-hidden="true" [ngClass]="type(item.type).icon"></i>
        <span class="badge-text">
          {{item.type}}
        </span>
      </span>

      <span *ngIf="item.lock" class="badge badge-right badge-lock">
          <i class="fa fa-lock" aria-hidden="true"></i>
      </span>

    </li>
    <ng-container *ngIf="listItems.length == 0">
      <li class="icon-empty-bag">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
      </li>
    </ng-container>
  </ul>



  <div class="btn-group-center">
    <button type="button" class="btn btn-add" (click)="addNew()">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
  </button>
  </div>
  <!-- <button type="button" class="btn btn-center"><i class="fa fa-plus-circle" aria-hidden="true"></i></button> -->
  <ng-content></ng-content>

</div>